@charset "utf-8";
.container {
    display: grid; /* 格子 */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap:10px;
}

.item {
    background: #0bd;
    color:#fff;
    /* margin:10px; */
    padding: 10px;
}