@charset "utf-8";

body {
    /* background-color: #fffeee; */
    /* font-family: 'Bangers', cursive; */
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-image: url(/images/neko.jpg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: 100px 100px;
}

h1 {
    color: #0bd;

}

div p {
    color: red;
}

#t4 td {
    color: red;
}

.t3 td {
    color: blue;
}

html {
    font-size: 100%;
}

h1 {
    font-size: 2rem;
    font-family: serif;
}

h2 {
    font-size: 20px;
    font-family: "游ゴシック", "Yu Gothic", "YuGothic", sans-serif;
}
div {
    background: #0bd;
    width: 500px;
    height: 300px;
    /* margin: 10px 20px 30px 40px; */
    margin-top:10px;
    margin-bottom:20px;
    margin-left:30px;
    margin-right:40px;
    /* padding:50px 60px 70px 80px; */
    padding-top:50px;
    padding-bottom:60px;
    padding-left:70px;
    padding-right:80px;
    border-width: 1px 4px 8px 12px;
    border-style: solid;
    
}

p {
    font-size: 20px;
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", sans-serif;
    font-weight: bold;
    line-height: 2.0;
    text-align: justify;
    border-width: thick;
    border-style: solid;
}